*{
    border: solid red 1px;
    background-image:linear-gradient(to bottom right, rgb(159, 228, 100), rgb(94, 114, 42));

}
.center{
    text-align: center;
}
.shadow{
    text-shadow: 2px 0px 1px rgb(89, 199, 53);
}

.width {
    width: 90%;
    height: 300px;
    max-width: 90%;
    
}
.displayFlex{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom right, rgb(55, 74, 105), rgb(25, 248, 14));
}

#character_list img {
    width: 200px;
    height: 275px;
    margin: 7px;
}


